<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
   <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
<div class="span8">
      <%= render 'follow_form' if signed_in? %>
    <% if @user.posts.any? %>
      <h3>Posts (<%= @user.posts.count %>)</h3>
      <ol class="posts">  
      <% @user.posts.each do |post| %>
         <%= render post %>
      <% end %>
        
      </ol>
    <% end %>
  </div>
</div>